* {
  box-sizing: border-box;
  max-width: 100%;
}
body {
  margin: 0;
  max-width: 100%;

}
header {
  border: solid 1px #000000;
  width: 100%;
  background-color: #ffffff;
  margin-bottom: .5em;
}
.wrap {
  width: 80%;
  margin: auto;
}
h1 {
  text-align: center;
  padding: .2em;
}
h2 {
  text-align: center;
  padding-bottom: .2em;
}
h3 {
  text-align: center;
}
.info{
  text-align: center;
  font-size: 1.1em;
  padding: .5em;
  height: 50px;
}
#name {
  width: 80px;
}
#color {
  width: 20px;
}

.start {
  text-align: center;
  margin: 1em auto;
}
#start {
  padding: 1em;
  font-size: 1em;
  margin:5px;
}
#start:hover {
  cursor: pointer;
  background-color: #338c26;
}
ul {
  /* display: inline; */
  text-align: left;
}
li {
  list-style-type: none;
}
.cb-align{
  text-align: center;
  margin-left: .5em;
}
.bet-deal {
  margin-left: 0;
  text-align: center;
  display: flex;
}
.btns {
  flex: 1;
}
img {
  height: 200px;
  width: 170px;
}
.row{
  display: flex;
  /* border: solid 1px #000000; */
  /* min-height: 180px; */
}
.col {
  margin: -10px;
  /* border: solid 1px #000000; */
}
.col-1{
  flex: 1;
}
.col-2 {
  flex: 2;
}
.col-3{
  flex: 3;
}
.col-4{
  flex: 4;
}
.col-5{
  flex: 5;
}
.col-6{
  flex: 6;
}
.col-7{
  flex: 7;
}
.col-8{
  flex: 8;
}
.col-9{
  flex: 9;
}
.col-10{
  flex: 10;
}
.col-11{
  flex: 11;
}
.col-12{
  flex: 12;
}
.dealer-row {
  margin: 1em 0;
  min-height: 275px;
  /* border: solid; */
}
.player-row {
  margin: 1em 0;
  min-height: 275px;
  /* border: solid; */
}
#message-row{
  display: flex;
  border: solid 1px #000000;
  /* min-height: 150px; */
  max-width: 60%;
  margin: auto;
  text-align: center;
}
#bet-min {
  margin: 0 5px 5px 5px;
}
#bet-5 {
  margin: 0 5px 5px 5px;
}
#bet-max {
  margin: 0 5px 5px 5px;
}
#deal {
  margin: 5px;
  font-size: 20px;
}
#hit {
  margin: 5px;
  font-size: 20px;
}
#stay {
  margin: 5px;
  font-size: 20px;
}
#bet-min:hover {
  background-color: green;
  cursor: pointer;
}
#bet-5:hover {
  background-color: green;
  cursor: pointer;
}
#bet-max:hover {
  background-color: green;
  cursor: pointer;
}
#deal:hover {
  background-color: green;
  cursor: pointer;
}
#hit:hover {
  background-color: green;
  cursor: pointer;
}
#stay:hover {
  margin:5px;
  background-color: green;
  cursor: pointer;
}
.card {

  /* width: 80px; */
}
footer {
  border-top: solid 1px #000000;
  height: 50px;
}
.totalchips {
  margin-top: 3em;
}

@media (max-width: 600px) {
  .dealer-row {
    margin: 1em 0;
    min-height: 175px;
    /* border: solid; */
  }
  .player-row {
    margin: 1em 0;
    min-height: 175px;
    /* border: solid; */
  }
  #message {
    text-align: center;
    font-size: 2em;
  }
  .row {
    height: 130px;
}
  img {
    max-height: 110px;
    max-width: 72px;
  }
}
  #bet-min {
  margin: 0 2px 2px 2px;
}
  #bet-5 {
  margin: 0 2px 2px 2px;
}
  #bet-max {
  margin: 0 2px 2px 2px;
}
  #deal {
  margin: 0 2px 2px 2px;
  font-size: 15px;
}
  #deal:hover {

}
  #hit {
  margin:2px;
  font-size: 15px;
}
  #stay {
  margin:2px;
  font-size: 15px;
}
  .btns {
    text-align: left;
    margin: 0.6em;
  }
  .totalchips {
    margin-top: 2em;
  }
}
